
	Hey, <%= @user.name %>
	<br>
	<span>
		Thanks for registering with WarehouseApp.net
	</span>
	<br>
	<span>&nbsp;<a href="http://warehouseapp.net/login">Login</a>&nbsp;&bull;&nbsp;<a href="http://warehouseapp.net/about">About</a></span>