<%= show_flash flash[:notice], "success" %>

<% if is_logged_in? %>
    
    <p> Choose the department above to view the assigned materials inventory. </p>

<% else %>

  <p class="container well">
    If you have an account please 
    <%= link_to 'Login', login_path %> or you 
    can <%= link_to 'register', register_path %> 
    an account if you're interested.
  </p>

<% end -%>