<h3 class="no-bold legend">About Warehouseapp.net</h3>

<p><%= link_to 'I', 'http://dgc.io' %> created WarehouseApp.net to be able to control and 
  manage a warehouse with the help of an android powered smartphone. 
  Using the open source barcode scanning library 
  <%= link_to 'zxing', 'http://code.google.com/p/zxing/' %> and their powerful
  <%= link_to 'barcode scanner', 'https://play.google.com/store/apps/details?id=com.google.zxing.client.android&hl=en' %> 
  I've created an easy, hassle-free way to
  fully manage your warehouse from the palm of your hand.</p>
 
<p>WarehouseApp.net is built upon the Ruby language with the help of the
  Ruby On Rails framework. I use Github for my version control and Capistrano 
  for deployment to my server.</p>

<p>If you have any questions, please <%= link_to 'contact', contact_path %> me</p>